<configuration>
    <property name="LOGDIR" value="${app.workdir}/.rush/logs" />

    <appender name="LAST_RUN" class="ch.qos.logback.core.FileAppender">
        <param name="Append" value="false" />
        <file>${LOGDIR}/main.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.FileAppender">
        <param name="Append" value="true" />
        <file>${LOGDIR}/all.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file : %line] %msg%n%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LAST_RUN" />
        <appender-ref ref="ALL" />
    </root>
</configuration>
